#playlists.sound-enhancement .playlist,
#playlists-popout.sound-enhancement .playlist {
    padding: 0px;
    /*border-bottom: 4px solid #130027;*/
}

#playlists.sound-enhancement .playlist .playlist-header,
#playlists-popout.sound-enhancement .playlist .playlist-header {
    background: #130027;
    padding: 4px 2px 4px 8px;
}

.system-dsa5 #playlists.sound-enhancement .playlist .playlist-header,
.system-dsa5 #playlists-popout.sound-enhancement .playlist .playlist-header {
    background-color: var(--sheet-bg);
}

#playlists.sound-enhancement .directory-list li.sound,
#playlists-popout.sound-enhancement .directory-list li.sound {
    padding: 2px 6px 2px 12px;
    border: 1px solid transparent;
}

#playlists.sound-enhancement .directory-list li.sound.playing,
#playlists-popout.sound-enhancement .directory-list li.sound.playing {
    border: 1px solid #ff6400;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
}

#playlists.sound-enhancement.directory .directory-list .directory-item.document,
#playlists-popout.sound-enhancement.directory .directory-list .directory-item.document {
    border-top: 1px solid #3a00ae;
}

#mseCharacterSound,
#mseItemSound {
    width: 28px;
    height: 28px;
    max-width: 28px;
    max-height: 28px;
    border: none;
    font-size: 18px;
    line-height: 28px;
    padding: 0px 3px;
}

#mseCharacterSound.loaded,
#mseItemSound.loaded {
    border: 1px solid #ff6400;
    color: #ff6400;
}

.mseCharacterName,
.mseItemName {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-sound {
    flex: 0 0 15px;
    padding-left: 2px;
}

.playlist.document.player-hidden {
    display:none !important;
}

a.sound-link {
    background: #ddd;
    padding: 1px 4px;
    border: 1px solid #4b4a44;
    border-radius: 2px;
    white-space: nowrap;
    word-break: break-all;
}


.mse-playlist-config .tab.sounds header,
.mse-playlist-config .tab.sounds ol {
    align-items: center;
    display: grid;
    gap: 0.25rem;
    grid-template-columns: 18rem 4rem 2rem 2rem;
    margin: 0;
    padding: 2px;
    position: relative;
    text-align: left;
}

.mse-playlist-config .tab.sounds ol li {
    display: contents;
}

.mse-playlist-config .tab.sounds header .controls,
.mse-playlist-config .tab.sounds ol .controls {
    text-align: right;
}

.mse-playlist-config .tab.sounds {
    gap: 0.5rem;
    overflow-y: hidden;
}

.mse-playlist-config .tab.sounds header .duration,
.mse-playlist-config .tab.sounds ol li .duration {
    text-align: right;
}

.mse-playlist-config .tab.sounds ol li .name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.playlists-sidebar .currently-playing header,
.playlists-sidebar .sound-effects header {
    cursor: var(--cursor-pointer);
}

.playlists-sidebar .currently-playing .expand,
.playlists-sidebar .sound-effects .expand {
    transition: all 250ms ease;
}

.playlists-sidebar .currently-playing.expanded .expand,
.playlists-sidebar .sound-effects.expanded .expand {
    transform: rotate(180deg);
}

.playlists-sidebar .currently-playing.expanded .expandable,
.playlists-sidebar .sound-effects.expanded .expandable {
    grid-template-rows: 1fr;
}

.playlists-sidebar .currently-playing .header-wrapper{
    display: inline-block;
    width: 100%;
}